/* _content/BlazorApp/Pages/Index.razor.rz.scp.css */
body[b-w6l7chfipm] {
    margin-top: 20px;
    background: #eee;
}

.single_advisor_profile[b-w6l7chfipm] {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

    .single_advisor_profile .advisor_thumb[b-w6l7chfipm] {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #3f43fd;
        overflow: hidden;
    }

        .single_advisor_profile .advisor_thumb[b-w6l7chfipm]::after {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            width: 150%;
            height: 80px;
            bottom: -45px;
            left: -25%;
            content: "";
            background-color: #ffffff;
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }

@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb[b-w6l7chfipm]::after {
        height: 160px;
        bottom: -90px;
    }
}

.single_advisor_profile .advisor_thumb .social-info[b-w6l7chfipm] {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

    .single_advisor_profile .advisor_thumb .social-info a[b-w6l7chfipm] {
        font-size: 14px;
        color: #020710;
        padding: 0 5px;
    }

        .single_advisor_profile .advisor_thumb .social-info a:hover[b-w6l7chfipm],
        .single_advisor_profile .advisor_thumb .social-info a:focus[b-w6l7chfipm] {
            color: #3f43fd;
        }

        .single_advisor_profile .advisor_thumb .social-info a:last-child[b-w6l7chfipm] {
            padding-right: 0;
        }

.single_advisor_profile .single_advisor_details_info[b-w6l7chfipm] {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

    .single_advisor_profile .single_advisor_details_info[b-w6l7chfipm]::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #3f43fd;
        content: "";
        top: 12px;
        right: 30px;
    }

    .single_advisor_profile .single_advisor_details_info h6[b-w6l7chfipm] {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6[b-w6l7chfipm] {
        font-size: 14px;
    }
}

.single_advisor_profile .single_advisor_details_info p[b-w6l7chfipm] {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p[b-w6l7chfipm] {
        font-size: 12px;
    }
}

.single_advisor_profile:hover .advisor_thumb[b-w6l7chfipm]::after,
.single_advisor_profile:focus .advisor_thumb[b-w6l7chfipm]::after {
    background-color: #070a57;
}

.single_advisor_profile:hover .advisor_thumb .social-info a[b-w6l7chfipm],
.single_advisor_profile:focus .advisor_thumb .social-info a[b-w6l7chfipm] {
    color: #ffffff;
}

    .single_advisor_profile:hover .advisor_thumb .social-info a:hover[b-w6l7chfipm],
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus[b-w6l7chfipm],
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover[b-w6l7chfipm],
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus[b-w6l7chfipm] {
        color: #ffffff;
    }

.single_advisor_profile:hover .single_advisor_details_info[b-w6l7chfipm],
.single_advisor_profile:focus .single_advisor_details_info[b-w6l7chfipm] {
    background-color: #070a57;
}

    .single_advisor_profile:hover .single_advisor_details_info[b-w6l7chfipm]::after,
    .single_advisor_profile:focus .single_advisor_details_info[b-w6l7chfipm]::after {
        background-color: #ffffff;
    }

    .single_advisor_profile:hover .single_advisor_details_info h6[b-w6l7chfipm],
    .single_advisor_profile:focus .single_advisor_details_info h6[b-w6l7chfipm] {
        color: #ffffff;
    }

    .single_advisor_profile:hover .single_advisor_details_info p[b-w6l7chfipm],
    .single_advisor_profile:focus .single_advisor_details_info p[b-w6l7chfipm] {
        color: #ffffff;
    }

.video-background-holder[b-w6l7chfipm] {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

    .video-background-holder video[b-w6l7chfipm] {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

.video-background-content[b-w6l7chfipm] {
    position: relative;
    z-index: 2;
}

.video-background-overlay[b-w6l7chfipm] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
/* _content/BlazorApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-3dsd3z3yec] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3dsd3z3yec] {
    flex: 1;
}

.sidebar[b-3dsd3z3yec] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3dsd3z3yec] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3dsd3z3yec]  a, .top-row .btn-link[b-3dsd3z3yec] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3dsd3z3yec] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3dsd3z3yec] {
        display: none;
    }

    .top-row.auth[b-3dsd3z3yec] {
        justify-content: space-between;
    }

    .top-row a[b-3dsd3z3yec], .top-row .btn-link[b-3dsd3z3yec] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3dsd3z3yec] {
        flex-direction: row;
    }

    .sidebar[b-3dsd3z3yec] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3dsd3z3yec] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3dsd3z3yec], article[b-3dsd3z3yec] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7cxxmz0cwl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7cxxmz0cwl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7cxxmz0cwl] {
    font-size: 1.1rem;
}

.oi[b-7cxxmz0cwl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7cxxmz0cwl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7cxxmz0cwl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cxxmz0cwl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cxxmz0cwl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7cxxmz0cwl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7cxxmz0cwl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7cxxmz0cwl] {
        display: none;
    }

    .collapse[b-7cxxmz0cwl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
